@model IEnumerable<WebApi.Dto.StudentDto>
<main role="main" class="pb-3">
    <a asp-action="Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Student name
                </th>
                <th>
                    Birth date
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone number
                </th>
                <th>
                    GitHub link
                </th>
                <th>
                    Notes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.BirthDate
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.GitHubLink
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>
