@model IEnumerable<WebApi.Dto.CourseDto>
<main role="main" class="pb-3">
    <p>
        <a href="/Course/Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Pass credits
                </th>
                <th>
                    Home tasks count
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        @item.PassCredits
                    </td>
                    <td>
                        @item.HomeTasks.Count
                    </td>
                    <td>
                        <a asp-action="AssignStudents" asp-route-id="@item.Id">Assign Students</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
